executable      = submit_INDEX.sh
arguments       = $(ClusterId)$(ProcId)
output          = output/job_INDEX.out
error           = error/job_INDEX.err
log             = log/job_INDEX.log
#+JobFlavour     = "testmatch"
+JobFlavour     = "nextweek"
#+AccountingGroup = "group_u_CMS.CAF.PHYS"
queue
