#!/bin/bash
#set -o nounset

APPDIR=/afs/cern.ch/work/d/dbruschi/TrackingPOG/CMSSW_12_4_5/src/
JOBDIR=$APPDIR/DQM/TrackingMonitorSource/test/MinBias_TuneCP5_13p6TeV-pythia8/
LOGDIR=/eos/home-d/dbruschi/DataMC/MinBias_TuneCP5_13p6TeV-pythia8/log/
cd $APPDIR
eval $(scramv1 runtime -sh)
cd $JOBDIR
uname -a > $LOGDIR/step1_INDEX.runlog 2>&1
ulimit -c 0
export X509_USER_PROXY=/afs/cern.ch/user/d/dbruschi/private/x509up/x509up_u132335
voms-proxy-info -all >> $LOGDIR/step1_INDEX.runlog 2>&1
cmsRun step1_cfg_INDEX.py >> $LOGDIR/step1_INDEX.runlog 2>&1
exit $?
